#skills {
    height: 50rem;
    font-size: 18px;
}

.experience_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    height: 20rem;
}

.experience_container>div {
    background: var(--card1);
    border: 7px solid var(--color);
    box-shadow: 10px 19px 30px rgba(211, 206, 206, 0.247);
    border-radius: 20px;
    padding: 0px 26px 2rem 26px;
    color: rgb(243, 225, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}


.experience_container>div:hover {
    background: #5c59a0ad;
    border-color: rgb(200, 200, 242);
    cursor: default;
    color: var();
}

.experience_container>div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(249, 224, 250);
}

.experience_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    font-size: small;
}

.experience_details {
    display: flex;
    gap: 2rem;
    font-size: x-small;
}

.experience_details-icon {
    margin-top: 2px;
    color: var(--color);
}

#skills .h5 {
    text-align: center;
    padding-bottom: 10px;
    top: -6rem;
    gap: 4rem;
}

#skills .h2 {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 1024) {
    .experience_container {
        grid-template-columns: 1fr;
    }

    .experience_container>div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience_content {
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .experience_container {
        gap: 1rem;
    }

    .experience_container>div {
        width: 100%;
        padding: 2rem 1rem;
    }
}